.box1{
  background-color:#800080;
  height: 100px;
  width: 100%;
  margin: 1px;
  color: white;
  font-size: larger;
}
.fullbox{
  background-color: bisque;
  
  width: 100%;
}
.firstBox{
  background-color: aqua;
  margin: 10px;
 
  margin-top: 5px;
}
.secondBox{
  background-color: aqua;
  margin: 10px;
  
}
.thirdBox{
  background-color: aqua;
  margin: 10px;
 
}
.btn{
  background-color: #f0f0f0;
  width: 120px;
  margin: 5px;
  justify-content:space-between;
}
.btn1{
  background-color: #f0f0f0;
  width: 490px;
  margin-top: 15px;
  margin-left: 22px;
  border-radius: 4px;
  
} 